@font-face {
    font-family: "ALiMaMa DongFangDakai";
    src: url("@/assets/fonts/阿里妈妈东方大楷.ttf") format("truetype");
}

body {
    font-family: "ALiMaMa DongFangDakai", sans-serif;
}

button {
    font-family: "ALiMaMa DongFangDakai", sans-serif;
}

img {
    pointer-events: none;
}