@font-face {
    font-family: "ALiMaMa DongFangDakai English";
    src: url("@a/fonts/ALiMaMaDongFangDaKai_en.ttf") format("truetype");
}

@font-face {
    font-family: "ALiMaMa DongFangDakai Chinese";
    src: url("@a/fonts/ALiMaMaDongFangDaKai_zh-CN.ttf") format("truetype");
}

body {
    font-family: "ALiMaMa DongFangDakai English", "ALiMaMa DongFangDakai Chinese", sans-serif;
}

button {
    font-family: "ALiMaMa DongFangDakai English", "ALiMaMa DongFangDakai Chinese", sans-serif;
}

img {
    pointer-events: none;
}